Flask
flask
Flask-Login
Flask-Session
Flask_SocketIO
Flask-Cors
itsdangerous
Jinja2
MarkupSafe
werkzeug
python-engineio
python-socketio
six
Click
flask_cors
Flask-WTF
gevent
gevent-websocket
greenlet
gunicorn
passlib
pandasai 
openai
six
WTForms
aniso8601
Flask-RESTful
pytz
Flask-Migrate
requests
python-dotenv
validators
pylint-flask
pyOpenSSL
keras
transformers
pandas
tensorflow
numpy
matplotlib
torch
Flask-Caching
python-dotenv
pyngrok